# This is an example .env file for configuring.
# Please rename this file to .env or create a copy of it and name it .env
# Get your credentials from https://my.telegram.org
# Fill your API ID and API HASH in the fields below.

TELEGRAM_API_ID=your_api_id_here
TELEGRAM_API_HASH=your_api_hash_here